select {
    min-width: 180px;
    min-height: 45px;
}
.button {
    color: white;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 2px;
    border-radius: 4px;
    width: 45px; 
}
.minus  {
    background-color: #99ccff;
    
}
.plus {
    background-color: #ff5050;
    float: right;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    width: 800px;
}
table input.submit {
    float: right;
    padding: 3px;
    margin: 0px;
    margin-right: 10px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr.main {
    background-color: #dddddd;
}
select.target {
    border-width: 3px;
    border-color: rgb(150,150,150);
}
textarea {
    resize: vertical;
}
